DefaultValues/test.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xsd:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="bookspackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="books">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="book">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="author" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="genre" type="xs:string" />
                    <xs:element name="price" type="xs:decimal" />
                    <xs:element name="pub_date" type="xs:date" />
                    <xs:element maxOccurs="unbounded" name="review" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xsd:schema>